#coverimg{
    height: 300px;
    background-image: url(https://images.thrillophilia.com/image/upload/s--pWf_akl9--/c_fill,g_auto,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/075/391/original/1554297511_shutterstock_1354124699.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
}

#coverimg>h1{
    padding: 5%;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: rgb(96, 16, 16);
    text-shadow: 10 20 10 wheat;
}
#divicontent{
    text-align: center;
    border: solid rgb(96, 16, 16);
    padding: 10px;
}
