#divisionheading{
    background-color: rgb(239, 240, 230);

}
#divisionheading>h1{
    margin-top: 15px;
}
#divisionlisting{
    
    height: auto;
    border: solid 5px rgb(255, 151, 60);
    padding: 5px;
    background-color: rgb(239, 240, 230);

}
#divicard{
    margin: 10px;
    box-shadow: 10 20 10;
}