<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Donation.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <title>Donations</title>
</head>
<body>
    <div id="donationinf" class="row">
        <div id="abtuslogo" class="col-sm-6 col-md-4 ">
            <div id="logoimg">
                <img class="img-fluid" src="../Assets/logowithshadow1.png" alt="">
            </div>
        </div>
        <div id="content" class="col-sm-6 col-md-8">
            <div class="text-center">
                <h1>- शिव'निधी -</h1>
            <p>|| सद्दानं श्रेष्ठं दानं भवति ||</p>
            <p>अर्थ - सद्पत्री केलेले दान हेच ​​श्रेष्ठ दान आहे.</p>
            </div>
            <p>
                राजा शिवछत्रपती परिवार ही आपली संस्था महाराष्ट्रात दुर्ग संवर्धनाच काम करते. हे दुर्ग म्हणजे महाराजांची खरी स्मारके आहेत पण महाराष्ट्रातील जवळजवळ सगळे गडकोट आज संवर्धनाच्या प्रतिक्षेत आहेत. हे दुर्ग राखणे प्रत्येकाचे कर्तव्य आहे.
            </p>
            <p>
                या कार्यासाठी तन, मन, धन अर्पू इच्छिणाऱ्या निष्ठावंत सहकाऱ्यांची आम्हाला नितांत गरज आहे. या कार्यासाठी आर्थिक बाजूसुद्धा खूप महत्वाची आहे. स्वच्छता मोहिमेसाठी विविध हत्यारे जसे की - कुदळ, फावडे, खुरपी, रोप, सेफ्टी बेल्ट, कोयते, इत्यादींची गरज भासते. तसेच संवर्धनासाठी खूप मोठ्या प्रमाणात निधीची गरज असते, जसे की आम्ही वर्धनगड, मल्हारगड व भूषणगडावर लाकडी दरवाजे बसवले.
            </p>
            <p>
                याबरोबरच आम्ही गरजूंना मदत, अनाथाश्रम, वृद्धाश्रम इत्यादी ठिकाणी गरजेच साहित्य वाटप सुद्धा करतो. २०१९ च्या महापुराच्या काळात परिवाराने कोल्हापूर व सांगली परिसरातील अनेक ठिकाणी शालेय साहित्य व धान्य वाटप सुद्धा केले आहे. यासाठी सुद्धा आर्थिक मदत महत्वाची आहे.
            </p>
            <p>
                यासाठी कोणतीही राजकीय किंवा इतर मदत आमच्याकडून घेतली जात नाही. यासाठी परिवारातील मावळे व आपणासारखे समाजातील काही दानशूर व्यक्ती आम्हाला मदत करतात, म्हणूनच तर इतकं मोठं शिवधनुष्य आम्ही आज पेलू शकत आहे. हिंदू धर्मामध्ये दान हे सर्वात मोठे कर्म मानले गेले आहे. गरजू लोकांना मदत करणे हे मानवाचे पहिले कर्तव्य आहे असे ही म्हटले जाते. तर दान केल्याने मनःशांती मिळते आणि त्यामुळे संपत्तीही मिळते असे मानले जाते.
            </p>
            <p>
                म्हणूनच महाराजांप्रति व गडकिल्ल्यांप्रति एक योगदान किंवा शिव'कार्य म्हणून आपणही आम्हाला मदत करावी,. जय शिवराय !

            </p>
        </div>
    </div>

    <div id="bankinfo" class="row text-center">
        <div class="row">
            <div class="col-sm-6">
                <div id="bnk-inf">
                    <h1>बँक डिटेल्स </h1>
                    <p>नाव - राजा शिवछत्रपती परिवार संस्था.</p>
                    <p>बँक -  बँक ऑफ महाराष्ट्र.</p>
                    <p>शाखा - THK मार्ग, माहीम, मुंबई</p>
                    <p>खाते क्रं - ६०३१९४३९५४२</p>
                    <p>IFSC कोड - MAHB0000093</p>
                </div>
            </div>
            <div class="col-sm-6 ">
                    <div class="row " id="qr-img">
                    <img class="img-fluid" src="../Assets/rspqr.jpeg" alt="">
                    </div>         
            </div>
        </div>
        <div id="upi" class="row ">
            <h1>All UPI Payment Accepted Here.</h1>
            <img src="../Assets/upi-payments.png" alt="">
        </div>

        
        </div>
    </div>
</body>
</html>