<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Expedition.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <title>Expedition</title>
</head>
<body>
    <div class="container text-center">
        <div id="expdition" class="row">
            <h1>शोध मोहीम</h1>
            <div id="exp-card" class="row">
                <div id="expinfo" class="row">
                    <div id="expinfo" class="row">
                        <h3>किल्ले रांगणा तोफ शोध मोहीम - ४ नोव्हेंबर २०१९</h3>
                        <div class="col-sm-4">
                            <img class="img-fluid" src="https://i.ibb.co/nwmrQJt/Whats-App-Image-2022-11-14-at-2-53-34-PM.jpg" alt="Rangana">
                        </div>
                        <div class="col-sm-8">
                            <p>रांगणा किल्ला हा कोल्हापूर जिल्ह्यातील भुदरगड तालुक्यात वसलेला आहे. आपल्या मोहून टाकणाऱ्या सौंदर्यामुळेच हा किल्ला महाराजांच्या आवडत्या किल्ल्यापैकी एक होता. म्हणूनच महाराजांनी या किल्ल्याच नाव बदलून प्रसिद्धगड अस ठेवलं होतं. ज्यावेळी छत्रपती शिवाजी महाराज आग्र्याच्या कैदेत होते, तेव्हा आदिलशाहीने हा किल्ला बळकवण्याचा प्रयत्न केला होता. त्यावेळी खुद्द माँसाहेब जिजाऊंनी हा किल्ला स्वतः येऊन वाचवला होता, हाच इतिहास या किल्याच महत्व अधोरेखित करतो. लष्करीदृष्ट्या रांगणा किल्ला जिंकणं खप अवघड होतं, कारण किल्ल्याच्या चारही बाजूने खूप घनदाट जंगल आहे</p>
                        <p>कोकणातील हालचाली व व्यापार यावर लक्ष ठेवण्यासाठी या किल्ल्याचा उपयोग केला जायचा. याच्या बांधकामाचे श्रेय 'शिलाहार राजा भोज दुसरा' याला जात.</p>
                        <p>किल्ल्यावर संरक्षणासाठी ज्या तोफा होत्या, त्यातील २ तोफा इंग्रजांनी खोल दरीत फेकून दिल्या होत्या. घनदाट जंगल असल्यामुळे आजपर्यंत तोफ शोधण्यात अडथळा येत होता. राजा शिवछत्रपती परिवार, कोल्हापूर विभागाने हे लक्षात घेऊन या तोफा शोधायच्याच असा निर्धार केला, आणि तोफ शोध मोहीम राबविली. </p>
                        <p>अत्यंत घनदाट जंगल असून सुद्धा दि. ३ नोव्हेंबर २०१९ रोजी या तोफा शोधण्यात कोल्हापूर विभागाला यश आलं. यावेळी कोल्हापूर विभागाचे ३२ मावळे उपस्थित होते. २ वर्षांपूर्वी म्हणजे २०१७ ला कोल्हापूर विभागाने असा पहिला प्रयत्न केला होता, पण त्यावेळी परिवाराला यश आलं न्हवत, मात्र दुसऱ्या प्रयत्नात मावळ्यांना २ तोफा शोधण्यात यश आलं.</p>
                        </div>
                    </div>
                    
                    <div id="exp-gallary" class="row">
                        <h3>मोहिमेतील काहि क्षणचित्रे</h3>
                        <hr>
                        <div id="gallary-img" class="col-sm-3">
                            <img class="img-fluid" src="https://i.ibb.co/nwmrQJt/Whats-App-Image-2022-11-14-at-2-53-34-PM.jpg" alt="Rangana">
                        </div>
                        <div id="gallary-img" class="col-sm-3">
                            <img class="img-fluid" src="https://i.ibb.co/QnNVXKm/Whats-App-Image-2022-11-14-at-2-53-30-PM.jpg" alt="">
                        </div>
                        <div id="gallary-img" class="col-sm-3">
                            <img class="img-fluid" src="https://i.ibb.co/kBnrtjH/Whats-App-Image-2022-11-14-at-2-53-36-PM.jpg" alt="" >
                        </div>
                        <div id="gallary-img" class="col-sm-3">
                            <img class="img-fluid" src="https://i.ibb.co/pnZKF86/Whats-App-Image-2022-11-14-at-2-53-35-PM-1.jpg" alt="" >
                        </div>
                        <div id="gallary-img" class="col-sm-3">
                            <img class="img-fluid" src="https://i.ibb.co/hY58gwL/Whats-App-Image-2022-11-14-at-2-53-36-PM-2.jpg" alt="" >
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


